* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Kumbh Sans', sans-serif;
}

.navbar {
    background:  #bb1d2c;
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}

#navbar__logo {
    background-color: #ffffff;
    /* background-image: linear-gradient(to top, #3b2dd7 0%, #160a48 100%); */
    Background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
    display: flex;
    align-items: center;
    cursor: pointer;
    text-decoration: none;
    font-size: 2rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.fm-gem {
    margin-right: 0.5rem;
}

.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.navbar__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1rem;
    width: 100%;
}

.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
}

.button:hover {
    background: #233e4b;
    transition: all 0.3s ease;
}

.navbar__links:hover {
    color: #233e4b;
    transition: all 0.3s ease;
}

@media screen and (max-width: 960px) {
    .navbar__container {
        display: flex;
        justify-content: space-between;
        height: 80px;
        z-index: 1;
        width: 100%;
        max-width: 1300px;
        padding: 0;
    }

    .navbar__menu{
        display: grid;
        grid-template-columns: auto;
        margin: 0;
        width: 100%;
        position: absolute;
        top: -1000px;
        opacity: 0;
        transition: all 0.5s ease;
        height: 50vh;
        z-index: -1;
    }

    .navbar__menu.active{
        background: #242933;
        top: 100%;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 99;
        height: 60vh;
        font-size: 1.6rem;
    }

    #navbar__logo {
        padding-left: 25px;
    }

    .navbar__toggle .bar{
        width: 25px;
        height: 3px;
        margin: 5px auto;
        transition: all 0.3s ease-in-out;
        background: #fff;
    }

    .navbar__item {
        width: 100%;
    }

    .navbar__links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    #mobile-menu {
        position:  absolute;
        top: 20%;
        right: 5%;
        transform: translate(5%, 20%);
    }

    .navbar__btn {
        padding-bottom: 2rem;
    }

    .button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 80%;
        height: 80px;
        margin: 0;
    }

    .navbar__toggle .bar{
        display: block;
        cursor: pointer;
    }

    #mobile-menu.is-active .bar:nth-child(2){
        opacity: 0;
    }
    #mobile-menu.is-active .bar:nth-child(1){
        transform: translateY(8px) rotate(45deg);
    }
    #mobile-menu.is-active .bar:nth-child(3){
        transform: translateY(-8px) rotate(-45deg);
    }
}

/* Hero */

.main {
    background-color: #ffffff;
    grid-template-columns: lfr lfr;
    align-items: center;
    justify-self: center;
    margin: 0 auto;
    height: 90vh;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    padding: 0 50px;
    position: relative;
}

.main__container h1 {
    font-size: 2rem;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h1 {
    font-size: 2rem;
    background-color: #000000;
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content h2 {
    font-size: 4rem;
    background-color: #2a303c;
    /* background-image: linear-gradient(to top, #3b2dd7 0%, #160a48 100%); */
    background-size: 100%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    -webkit-text-fill-color: transparent;
    -moz-text-fill-color: transparent;
}

.main__content p {
    margin-top: 1rem;
    font-size: 0.75rem;
    font-weight: 700;
}



.main__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #ffffff;
}

.main__btn {
    position: relative;
    z-index: 2;
    color: #fff;
    text-decoration: none;
}

.main__btn:hover {
    background: #233e4b;
    transition: all 0.3s ease;
}

.main__btn:hover:after {
    width: 100%;
}

.main__img--container {
    text-align: 100%;
}

#main__img {
    height: 80%;
    width: 80%;
}

.Socialpolitiker1 img {
    width: 150px;
}
.Socialpolitiker1 {
    width: 340px;
    padding: 10px;
    /* border: 3.5px solid gray; */
    margin-top: 60px;
    left: 0;
    position: absolute;
    top: 5%;
}

.Socialpolitiker2 img {
    width: 150px;
}
.Socialpolitiker2 {
    width: 340px;
    padding: 10px;
    /* border: 3.5px solid gray; */
    margin-top: 60px;
    position: absolute;
    top: 5%;
    left: -3.25px;
    margin-left: 425px;
}

.Socialpolitiker3 img {
    width: 150px;
}
.Socialpolitiker3 {
    width: 340px;
    padding: 10px;
    /* border: 3.5px solid gray; */
    margin-top: 30px;
    margin-left: 850px;
    left: -3.25px;
    position: absolute;
    top: 10%;
}

.politiker4 img {
    width: 150px;
}
.politiker4 {
    width: 340px;
    padding: 10px;
    border: 3.5px solid gray;
    margin: 0;
    position: absolute;
    top: 60%;
    right: 460px;
}

.politiker5 img {
    width: 150px;
}
.politiker5 {
    width: 340px;
    padding: 10px;
    border: 3.5px solid gray;
    margin: 0;
    position: absolute;
    top: 60%;
    right: 25px;
}

.politiker6 img {
    width: 150px;
}
.politiker6 {
    width: 340px;
    padding: 10px;
    border: 3.5px solid gray;
    margin: 0;
    position: absolute;
    top: 60%;
    right: 900px;
}

/* Mobile */
@media screen and (max-width: 786px) {
    .main__container {
        display: grid;
        grid-template-columns: auto;
        align-items: center;
        justify-self: center;
        width: 100%;
        margin: 0 auto;
    }

    .main__content {
        text-align: center;
        margin-bottom: 4rem;
    }

    .main__content h1 {
        font-size: 2.5rem;
    }
    
    .main__content h2 {
        font-size: 2rem;
    }
    
    .main__content p {
        margin-top: 1rem;
        font-size: 1.5rem;
    }
}

@media screen and (max-width: 786px) {
    .main__content h1 {
        font-size: 2rem;
        margin-top: 3rem;
    }
    
    .main__content h2 {
        font-size: 2rem;
    }
    
    .main__content p {
        margin-top: 2rem;
        font-size: 1.5rem;
    }

    .main__btn {
        padding: 12px 36px;
        margin: 2.5rem 0; 
    }
}

/* Dropdown menu */

.dropdown {
    position: relative;
    display: inline-block;
  }
  
  .dropbtnSocial {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown .dropbtnSocial:hover {
    background-color: #e6e6e6;
  }
  
  .dropdown .dropdown-contentSocial {
    display: none;
    position: absolute;
    z-index: 3;
    padding: 8px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .Socialpolitiker1,
  .Socialpolitiker2,
  .Socialpolitiker3 {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 65px;
  }
  
  .dropdown .dropdown-contentSocial a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    margin-bottom: 10px;
  }
  
  /* .dropdown:hover .dropdown-content {
    display: block;
  } */
  
  .dropdown .dropdown-contentSocial a:hover {
    background-color: #233e4b;
  }


.partibutton {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: 80px;
    margin: 0;
    left: -3.25px;
}

.partibutton {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    /* padding: -10px -20px; */
    height: 100%;
    width: 147%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    left: -3.25px;
}

.partibutton:hover {
    background: #233e4b;
    transition: all 0.3s ease;
}



/* Venstre */
.dropdown .dropdown-contentV {
    display: none;
    position: absolute;
    z-index: 3;
    padding: 8px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .Socialpolitiker1,
  .Socialpolitiker2,
  .Socialpolitiker3 {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 65px;
  }
  
  .dropdown .dropdown-contentV a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropdown-contentV a:hover {
    background-color: #233e4b;
  }

  .dropbtnV {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown .dropbtnV:hover {
    background-color: #e6e6e6;
  }

  .dropdown-container.open .dropdown-content {
    display: block;
  }

  ul li {
    display: block;
    margin-bottom: 10px;
  }

  /* Style to display main list items vertically */
  ul.vertical li {
    display: block;
    margin-bottom: 10px;
  }
  
  /* Style to push down other headers when submenu is opened */
  .dropdown-content.open {
    margin-top: 20px; /* Adjust this value as needed */
  }

  /* Konservative */
.dropdown .dropdown-contentC {
    display: none;
    position: absolute;
    z-index: 3;
    padding: 8px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .Socialpolitiker1,
  .Socialpolitiker2,
  .Socialpolitiker3 {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 65px;
  }
  
  .dropdown .dropdown-contentC a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropdown-contentC a:hover {
    background-color: #233e4b;
  }

  .dropbtnC {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown .dropbtnC:hover {
    background-color: #e6e6e6;
  }

  /* SF */
.dropdown .dropdown-contentSF {
    display: none;
    position: absolute;
    z-index: 3;
    padding: 8px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .Socialpolitiker1,
  .Socialpolitiker2,
  .Socialpolitiker3 {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 65px;
  }
  
  .dropdown .dropdown-contentSF a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropdown-contentSF a:hover {
    background-color: #233e4b;
  }

  .dropbtnSF {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown .dropbtnSF:hover {
    background-color: #e6e6e6;
  }

    /* Enhedslisten */
.dropdown .dropdown-contentØ {
    display: none;
    position: absolute;
    z-index: 3;
    padding: 8px;
    background-color: #fff;
    margin-top: 10px;
  }
  
  .Socialpolitiker1,
  .Socialpolitiker2,
  .Socialpolitiker3 {
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    padding: 8px;
    margin-top: 65px;
  }
  
  .dropdown .dropdown-contentØ a {
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    padding: 10px 20px;
    height: 100%;
    width: 100%;
    border: none;
    outline: none;
    border-radius: 4px;
    background: #14242c;
    color: #fff;
    margin-bottom: 10px;
  }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown .dropdown-contentØ a:hover {
    background-color: #233e4b;
  }

  .dropbtnØ {
    margin-top: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #f2f2f2;
    color: #333;
    font-size: 16px;
    cursor: pointer;
    margin-bottom: 10px;
    transition: background-color 0.3s ease;
  }
  
  .dropdown .dropbtnØ:hover {
    background-color: #e6e6e6;
  }
    /* Radikale */
    .dropdown .dropdown-contentB {
        display: none;
        position: absolute;
        z-index: 3;
        padding: 8px;
        background-color: #fff;
        margin-top: 10px;
      }
      
      .Socialpolitiker1,
      .Socialpolitiker2,
      .Socialpolitiker3 {
        display: block;
        border: 1px solid #ccc;
        border-radius: 4px;
        padding: 8px;
        margin-top: 65px;
      }
      
      .dropdown .dropdown-contentB a {
        display: flex;
        justify-content: center;
        align-items: center;
        text-decoration: none;
        padding: 10px 20px;
        height: 100%;
        width: 100%;
        border: none;
        outline: none;
        border-radius: 4px;
        background: #14242c;
        color: #fff;
        margin-bottom: 10px;
      }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
      
      .dropdown .dropdown-contentB a:hover {
        background-color: #233e4b;
      }
    
      .dropbtnB {
        margin-top: 25px;
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 10px 20px;
        border: none;
        border-radius: 4px;
        background-color: #f2f2f2;
        color: #333;
        font-size: 16px;
        cursor: pointer;
        margin-bottom: 10px;
        transition: background-color 0.3s ease;
      }
      
      .dropdown .dropbtnB:hover {
        background-color: #e6e6e6;
      }